*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    min-height: 60px;
    border:2px solid #f1f3f4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navText{
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
}

.container{
    display: flex;
    justify-content: center;
}
.todoAddingBox{
  
    border:2px solid #f1f3f4;

    width: 500px;
    min-height: 120px;
    /* padding: 10px; */
    margin-top: 30px;
    border-radius: 10px;
    
}
.titleinput{
    padding: 15px;
    width: 100%;
    border: none;
    outline: 0;
    border-bottom: 1px solid #f1f3f4;
}

.todoListItems{
    padding: 10px 15px;
    width: 100%;
    border: none;
    outline: 0;
   
}

button{
    padding: 5px 10px;
    border-radius: 5px;
    background: blue;
    border: none;
    color: white;
    cursor: pointer;
}



ul{
    list-style: none;
    
}
li{
    color: #949697;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
